#header {
    background: linear-gradient(to right, #4776E6, #8E54E9);
    /*Standard*/
}

#subheader a {
    color: black;
}

.node {
    cursor: pointer;
}

.node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 1.5px;
}

.node text {
    font: 10px sans-serif;
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1.5px;
}

.Module {
    width: 100%;
    height: 100%;
}

#banner-animation {
    width: 100%;
    height: 200px;
    border: none;
}